.content{
    width: 100%;
    max-width: 1000px;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

header {
    padding: 10px;
    background-color: darkgoldenrod;
}

footer {
    background-color: darkgoldenrod;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}