<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All bread</title>
</head>
<body>

<h2>All bread from (in memory) DB</h2>
<a th:href="@{/bread/add}">Add new</a>

<div th:each="bread : ${allBreadFromDB}">
    <div th:text="${bread.id}"></div>
    <div th:text="${bread.shape}"></div>
    <div th:text="${bread.type}"></div>
    <div><a th:href="@{/bread/delete/{id}(id=${bread.id})}">Delete</a></div>
    <div><a th:href="@{/bread/update/{id}(id=${bread.id})}">Edit</a></div>
</div>

</body>
</html>